<form method="post" action="checkout">
  <p>
    <label> Item 1 </label>
      <input type="text" id="item" name="item[name]" /><br>
    <label> Item 2 </label>
      <!-- <input type="text" id="item_02" name="team[motto]"><br> -->
  </p>
<input style="submit" id="submit" name="submit" >
</form>
