<form method="post" action="checkout">
  <p>
    <label> Item 1 </label>
      <input type="text" id="item" name="item[name]" /><br>
  </p>
<input type="submit" value="Submit" name="submit" >
</form>
