<form method="post" action="checkout">
  <p>
    <label> Team Name </label>
      <input type="text" id="team_name" name="team[name]" /><br>
    <label> Team Motto </label>
      <input type="text" id="team_motto" name="team[motto]"><br>
  </p>
<submit style="submit" id="submit">
</form>
